<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/buzzripper/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="buzzripper" />
            <add key="ClearTextPassword" value="ecc596a77f1a6ef9c1f405af449b108454bcbf4a" />
        </github>
    </packageSourceCredentials>
</configuration>