<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/buzzripper/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="buzzripper" />
            <add key="ClearTextPassword" value="e303067e88abc7156a025164be6bf0d66283c667" />
        </github>
    </packageSourceCredentials>
</configuration>